.filter-results-container {
	color: darken(#EDF9D3, 50%);
	background-color: #78CCD1;
}

.filter-results-form {
	background-color: #EDF9D3;
	border-radius: 45px;
	float: right;
}

ul li {
	text-align: left;
}

<<<<<<< HEAD
.filter-results-form {
	margin-top: 10px;
	width: 60%;
}

.form-title {
	border-bottom: solid;
	padding-bottom: 8px;
}

.selection-heading {
	padding-left: 8px;
}

.btn {
	background-color: darken(#EDF9D3, 50%);
}


=======
.limiter {
	text-align: center;
}
>>>>>>> fee2a8695b9e0b99ba2037ec0604a2bc57108c21
