.filter-results-container {
	color: darken(#EDF9D3, 50%);
	background-color: #78CCD1;
}

.filter-results-form {
	background-color: #EDF9D3;
	border-radius: 45px;
	float: right;
}

ul li {
	text-align: left;
}

.filter-results-form {
	margin-top: 10px;
	width: 60%;
}

.form-title {
	border-bottom: solid;
	padding-bottom: 8px;
}

.selection-heading {
	padding-left: 8px;
}

.limiter {
	text-align: center;
}