.filter-results-container {
	color: darken(#EDF9D3, 50%);
	background-color: white;
}

.filter-results-form {
	background-color: #EDF9D3;
	border-radius: 45px;
	float: right;

}

ul li {
	text-align: left;
}
