@import "variables";
@import "headings";

body {
	background: red;
}

.light-blue {
	background: lightblue;
}

.light-pink {
	background: pink;
}

.dark-blue {
	background: blue;
}

.white {
	background: white;
}
