@import "variables";
@import "headings";

body {
	background: red;
}

.main_top {
	background: orange;
	height: 200px;
}

.main_nav {
	background: blue;
	height: 200px;
}

.main_bottom {
	background: purple;
	height: 200px;
}

.main_bottom-meat {
	background: green;
	height: 100px;
}

.main_bottom-footer {
	background: yellow;
	height: 50px;
}