@import "variables";
@import "headings";

body {
	background: red;
}

.light-blue {
	background: lightblue;
}

.light-pink {
	background: pink;
}

.dark-blue {
	background: #78CCD1;
}

.white {
	background: white;
}

.no-bullets {
	list-style: none;
	color: white;
	text-align: center;
}

.right-border {
	margin: 3em 0 3em 0;
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: white;
}
.footer-spacing li {
	padding: 0 2.7em 0 2.7em;
	display: inline-block;
}

.nav-formatting {
	display: inline;
	text-align: center;
}

.nav-text-styling {
	color: #6E1048;
}

.parallel {
	display: inline;
}
