.search-results-container.unit-60
	p.bread-crumb All > Twin > B/G
	.sort-by-container.units-row
		p.sort-by.unit-20
			label(for="sort-by") sort by:
			select(id="sort-by")
				option Price
				option Brand
		ul.unit-80
			li prev.
			li page num.
			li next
			li view All
	.search-results.units-row.end
		include ./_page2-right-search-item.jade
		include ./_page2-right-search-item.jade
		include ./_page2-right-search-item.jade
		include ./_page2-right-search-item.jade
		include ./_page2-right-search-item.jade
		include ./_page2-right-search-item.jade
		include ./_page2-right-search-item.jade
		include ./_page2-right-search-item.jade
		include ./_page2-right-search-item.jade
		include ./_page2-right-search-item.jade
		include ./_page2-right-search-item.jade
		include ./_page2-right-search-item.jade