doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Kube Web Framework
    link(rel="stylesheet" href="/vendor/kube/css/kube.min.css")
    link(rel="stylesheet" href="css/main.css")

  body
    // [if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]

    .units-row.end.light-blue
      .unit-centered.unit-80.head-margins
        .units-row.end
          nav.navbar.navbar-right
            ul
              li sign-in
              li sign-up
        .units-row.end.white
          .unit-40
            img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/savings-multiplied-logo.png")
          .unit-60
            .units-row.end
              button.btn.btn-blue.btn-round.btn-smaller About
              button.btn.btn-green.btn-round.btn-smaller Contact
              button.btn.btn-yellow.btn-round.btn-smaller Blog
              button.btn.btn-red.btn-round.btn-smaller Press
            .units-row.end
              img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/tagline.png")

    nav.navbar.nav-fullwidth.light-pink.end
      ul.unit-centered.unit-80
        li.nav-text-styling.nav-formatting
        a(href="page2.html") Buy
        li.nav-text-styling.nav-formatting Sell
        li.nav-text-styling.nav-formatting How it Works
        li.nav-text-styling.nav-formatting Links
        li.nav-text-styling.nav-formatting Community
        li 
          input(type="search" placeholder="Search")

    .units-row.end.dark-blue
      .unit-centered.unit-80.white
        .units-row
          .unit-50
            h4 We're making one aspect of life easier for parents of multiples
            h6 buying and selling gently used sets of clothes
            //headers, icon, shop now button, image tree
          .unit-50
            .img-wrapper
              img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/children/twins.jpg")
              img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/children/triplets.jpg")
              img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/children/quads.jpg")
        .units-row
          .unit-25
            img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/facebook_callout.png")
          .unit-25
            img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/twitter_callout.png")
          .unit-25
            img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/message_board_callout.png")
          .unit-25
            img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/special_offers_callout.png")

    nav.navbar.nav-fullwidth.end.dark-blue
      ul.no-bullets.unit-centered.unit-80
        li Link Here
        li Link Here
        li Link Here
        li Link Here
        li Link Here
        li Link Here


    script(src="js/main.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js")
    script(src="js/kube.js")
