doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Kube Web Framework
    link(rel="stylesheet" href="/vendor/kube/css/kube.min.css")
    link(rel="stylesheet" href="css/main.css")

  body
    // [if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]

    .units-row.end.light-blue
      .unit-10
      .unit-80
        .units-row.end
          h6 sign-in, sign-up
        .units-row.end.white
          .unit-40
            img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/savings-multiplied-logo.png")
            img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/tagline.png")
          .unit-60
            .units-row.end
              button.btn.btn-blue About
              button.btn.btn-green Contact
              button.btn.btn-yellow Blog
              button.btn.btn-red Press
              // Here are the buttons
            .units-row.end
              //add image for greeting

      .unit-10

    .units-row.end.light-pink
      .unit-10
      .unit-80
        nav.navbar.nav-fullwidth
          ul
            li Buy
            li Sell
            li How it Works
            li Links
            li Community
            input(type="search" placeholder="Search")
      .unit-10

    .units-row.end.dark-blue
      .unit-10
      .unit-80.white
        .units-row.end
          .unit-60
            h4 We're making one aspect of life easier for parents of multiples
            h6 buying and selling gently used sets of clothes
            //headers, icon, shop now button, image tree
          .unit-40
            .units-row.end
              img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/children/twins.jpg")
            .units-row.end
              img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/children/triplets.jpg")
            .units-row.end
              img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/children/quads.jpg")
        .units-row.end
          .unit-25
            img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/facebook_callout.png")
          .unit-25
            img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/twitter_callout.png")
          .unit-25
            img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/message_board_callout.png")
          .unit-25
            img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/special_offers_callout.png")
      .unit-10

    .units-row.dark-blue
      .unit-20
      .unit-60
        ul
          li Link here
          li Link here
          li Link here
          li Link here
          li Link here
          li Link here
      .unit-20


    script(src="js/main.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js")
    script(src="js/kube.min.js")
