doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Kube Web Framework
    link(rel="stylesheet" href="/vendor/kube/css/kube.min.css")
    link(rel="stylesheet" href="css/main.css")

  body
    // [if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]

    .units-row.end.light-blue
      .unit-centered.unit-80.head-margins
        .units-row.end
          nav.navbar.navbar-right
            ul
              li sign-in
              li sign-up
        .units-row.end.white
          .unit-40
            img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/savings-multiplied-logo.png")
          .unit-60
            .units-row.end.top-nav-ul
              button.btn.btn-blue.btn-round.btn-smaller About
              button.btn.btn-green.btn-round.btn-smaller Contact
              button.btn.btn-yellow.btn-round.btn-smaller Blog
              button.btn.btn-red.btn-round.btn-smaller Press
            .units-row.end.tagline
              img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/tagline.png")

    nav.navbar.nav-fullwidth.light-pink.end
      ul.unit-centered.unit-100
        li.nav-text-styling.nav-formatting 
          a(href='page2.html') Buy
        li.nav-text-styling.nav-formatting 
          a(href='#') Sell
        li.nav-text-styling.nav-formatting 
          a(href='index.html') How it Works
        li.nav-text-styling.nav-formatting 
          a(href='#') Links
        li.nav-text-styling.nav-formatting 
          a(href='#') Community
        li 
          input(type="search" placeholder="Search")

    .main-content.units-row.white.end
      include ./partials/_page2-left.jade
      include ./partials/_page2-right.jade

    nav.navbar.nav-fullwidth.end.dark-blue
        ul.no-bullets.unit-centered.unit-80.bottomul
          li.bottomlink Link Here
          li.bottomlink Link Here
          li.bottomlink Link Here
          li.bottomlink Link Here
          li.bottomlink Link Here








